{% block content %}
  <h2>Contract Review</h2>

  <button type="button" id="populate-placeholders" class="btn btn-primary">Populate Placeholders</button>

  <form method="post">
    {% csrf_token %}
    <ul>
      {% for contract in contracts %}
        <li>
          <h3>Contract for {{ contract.user.get_full_name}}</h3>
          <p>{{ contract.content|safe }}</p>
        </li>
      {% endfor %}
    </ul>

    <button type="submit">Finalize and Send Contracts</button>
  </form>
{% endblock %}

