{% extends 'hrms/layout.html' %}
{% load static %}
{% block title %} Attendance | JBL {% endblock title %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'hrms:dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Attendance</li>
                </ol>
            </nav>
            <div class="col-lg-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <form class="form-group" method="POST" action="{% url 'hrms:attendance_new' %}">
                            {% csrf_token %}
                            {{ form.errors }}
                            <input type="hidden" name="latitude" id="latitude">
                            <input type="hidden" name="longitude" id="longitude">
                            <div class="text-center mt-3">
                                {% if clocked_in %}
                                <form action="{% url 'hrms:attendance_out' pk=user.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-rounded btn-outline-danger"><i class="mdi mdi-logout"></i> Clock Out</button>
                                </form>
                            {% else %}
                                <form action="{% url 'hrms:clock_in' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-rounded btn-outline-success"><i class="mdi mdi-check"></i> Clock In</button>
                                </form>
                            {% endif %}
                            
                            </div>
                        </form>
                        <br>
                        <h4 class="text-primary"><i class="fa fa-sign-in"></i>&emsp; List of employee(s) that clocked-in today</h4>
                        <hr>
                        
                        <form class="form-inline mb-3 justify-content-between" method="GET">
                            <div class="form-group">
                                <input type="date" class="form-control" id="date" name="date" value="{{ selected_date|default:today|date:'Y-m-d' }}">
                                <button type="submit" class="btn btn-primary ml-2">Filter by Date</button>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Search by name" value="{{ keyword|default:'' }}">
                                <button type="submit" id="search-btn" class="btn btn-primary ml-2">Search</button>
                            </div>
                        </form>
                        
                        {% if present_staffers %}
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>First-In (Arrival)</th>
                                            <th>Last-Out (Departure)</th>
                                            <th>Name</th>
                                        
                                            <th>Distance (m)</th>

                                            <th>Action(s)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ps in present_staffers %}
                                            <tr>
                                                <td class="py-1">{{ ps.date }}</td>
                                                <td><strong>{{ ps.first_in }}</strong></td>
                                                <td><strong>{{ ps.last_out }}</strong></td>
                                                <td>{{ ps.staff.employee.first_name }} {{ ps.staff.employee.last_name }}</td>
                                              
                                                <td>{{ ps.distance|default_if_none:'N/A'|floatformat:2 }} m</td>

                                                <td>
                                                    {% if ps.last_out %}
                                                        <span class="btn btn-sm btn-secondary disabled">Clocked Out</span>
                                                    {% else %}
                                                        <span class="btn btn-sm" style="background-color: #fdeb3d;color: #773697;">
                                                            <i class="fa fa-sign-out"></i> Clocked In
                                                        </span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Pagination controls -->
                            <div class="pagination-controls">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1{% if keyword %}&keyword={{ keyword }}{% endif %}{% if selected_date %}&date={{ selected_date }}{% endif %}" aria-label="First">
                                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if keyword %}&keyword={{ keyword }}{% endif %}{% if selected_date %}&date={{ selected_date }}{% endif %}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for num in paginator.page_range %}
                                            {% if page_obj.number == num %}
                                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                <li class="page-item"><a class="page-link" href="?page={{ num }}{% if keyword %}&keyword={{ keyword }}{% endif %}{% if selected_date %}&date={{ selected_date }}{% endif %}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if keyword %}&keyword={{ keyword }}{% endif %}{% if selected_date %}&date={{ selected_date }}{% endif %}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ paginator.num_pages }}{% if keyword %}&keyword={{ keyword }}{% endif %}{% if selected_date %}&date={{ selected_date }}{% endif %}" aria-label="Last">
                                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        {% else %}
                            <p class="lead">No employees data</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            console.log("Latitude:", position.coords.latitude);
            console.log("Longitude:", position.coords.longitude);
            document.getElementById('latitude').value = position.coords.latitude;
            document.getElementById('longitude').value = position.coords.longitude;
        });
    } else {
        alert('Geolocation is not supported by this browser.');
    }

    // Add event listener to the date input
    document.getElementById('date').addEventListener('change', function() {
        // Submit the form when the date is changed
        this.form.submit();
    });
</script>
{% endblock content %}
