{% extends 'hrms/layout.html' %}
{% load static %}
{% block title %} Employee's Info | ITSC-HRMS {% endblock title %}
{% block content %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'hrms:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href=" {% url 'hrms:employee_all' %} ">Employee</a> </li>
                        <li class="breadcrumb-item active" aria-current="page">View</li>
                    </ol>
                </nav>
                    <div class="card">
                        <div class="card-body">
                           <h4 class="text-center text-primary"><i class="fa fa-address-book-o">&emsp; {{employee.employee.first_name}}'s Profile</i></h4><hr>   
                           <div class="row">
                            <!-- Picture Column -->
                            <div class="col-lg-2 col-md-2 d-flex align-items-stretch grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="{% if worker.employee.thumb %}{{ worker.employee.thumb.url }}{% else %}{% static 'hrms/images/auth/default_profile.svg' %}{% endif %}" class="img-fluid rounded-circle" alt="">
                                        <p class="lead mt-2 text-center" style="font-size: 16px;"> 
                                            <small class="text-center text-secondary">( ID )</small><br />
                                            {{employee.employee.emp_id | upper}}<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- First Employee Info Column -->
                            <div class="col-lg-5 col-md-5">
                                <div class="table-responsive table-striped">
                                    <p class="lead text-center mt-2">Personal Info.</p>
                                    <table class="table">
                                        <tr>
                                            <th style="width:50%">First Name:</th>
                                            <td>{{employee.employee.first_name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Last Name</th>
                                            <td>{{employee.employee.last_name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Mobile:</th>
                                            <td>{{employee.employee.mobile}}</td>
                                        </tr>
                                        <tr>
                                            <th>Emergency contact:</th>
                                            <td>{{employee.employee.emergency}}</td>
                                        </tr>
                                        <tr>
                                            <th>Email:</th>
                                            <td>{{employee.employee.email}}</td>
                                        </tr>
                                        <tr>
                                            <th>Gender:</th>
                                            <td>{{employee.employee.gender}}</td>
                                        </tr>
                                        <tr>
                                            <th>Department:</th>
                                            <td>{{employee.employee.department}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        
                            <!-- Second Employee Info Column -->
                            <div class="col-lg-5 col-md-5">
                                <div class="table-responsive table-striped">
                                    <p class="lead text-center mt-2">Additional Info.</p>
                                    <table class="table">
                                        <tr>
                                            <th>Language:</th>
                                            <td>{{employee.employee.language | capfirst}}</td>
                                        </tr>
                                        <tr>
                                            <th>Enrollment Date:</th>
                                            <td>{{employee.created_at}}</td>
                                        </tr>
                                    </table>
                                    <!-- <div class="text-center mt-3">
                                        <a href="{% url 'hrms:employee_update' pk=employee.id %}" class="btn btn-lg btn-warning">Update</a>
                                    </div> -->
                                </div>
                                <div class="table-responsive table-striped">
                                    <p class="lead text-center mt-2">Privileges</p>
                                    <table class="table">
                                        <tr>
                                            <th>Clock-in privileges</th>
                                            <td>{{employee.employee.clockin_privileges | capfirst}}</td>
                                        </tr>
                                       
                                    </table>
                                    <!-- <div class="text-center mt-3">
                                        <a href="{% url 'hrms:employee_update' pk=employee.id %}" class="btn btn-lg btn-warning">Update</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        
                                <!-- Third column-->

                               
                           </div>                     
                                        
                </div>
            </div>
        </div>
    </div>

{% endblock content %}