{% extends 'hrms/layout.html' %}

{% load static %}

{% block title %} Unauthorized Access |  JBL {% endblock %}

{% block content %}
<div class="container justify-content-between">

<div class="jumbotron mt-3">
    <div class="container">
        <div class="col-md-8">
            <h3>Oops! <span style="font-size: 17px;display:block"> <hr> You've reached the land of 'Nope'!"</span></h3>

        </div>
        <div class="col-md-8">
            <p> No humans allowed!</p>

        </div>
        <div class="col-md-8">
            <p><a href="javascript:history.back()">Back 👋</a></p>

        </div>
    </div>
</div>
</div>

    
{% endblock %}
