{% load static %}
</div>
<footer class="footer text-white" style="background-color: #773697;">
  <div class="container-fluid clearfix">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <span class="text-muted text-center d-block">Copyright © 2024 Jawabu Best Limited. All rights reserved.</span>
      <a href="{% url 'hrms:privacy_policy'  %}" class="text-muted text-end d-block">Privacy Policy</a>
    </div>
    
</div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var currentYear = new Date().getFullYear();
    var copyright = document.getElementById("copyright");
    copyright.textContent = "Copyright © " + currentYear + " All rights reserved.";
  });
</script>
