<nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color: #773697;" >
        <ul class="nav text-light">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name text-light">{{user.username | upper}} </p>
                  <div>
                    <small class="designation text-muted" style="text-transform: capitalize;">{{user.role}}</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between wrap">
                <a href="{% url 'hrms:employee_new' %}" class="btn mx-2 btn-sm me-2 " style="background-color: #fdeb3d;font-size: 12px;">
                  New Staff <i class="mdi mdi-plus"></i>
                </a>
                <a href="{% url 'hrms:employee_bulk_register' %}" class="btn btn-sm" style="background-color: #fdeb3d;font-size: 12px;">
                  Multiple <i class="mdi mdi-plus"></i>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item text-light">
            <a class="nav-link" href="{% url 'hrms:dashboard' %}">
              <i class="fa  fa-dashboard text-light"></i>
              <span class="menu-title text-light">&emsp;Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:employee_all' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="fa fa-user text-light"></i>
              <span class="menu-title text-light  ">&emsp;Employee</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:attendance_new' %}">
              <i class="fa fa-calendar text-light"></i>
              <span class="menu-title text-light">&emsp;Attendance</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:leave_new' %}">
              <i class="fa fa-sign-out text-light"></i>
              <span class="menu-title text-light">&emsp;Leave</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="fa fa-folder text-light "></i>
              <span class="menu-title text-light">&emsp;Department</span>
              <i class="menu-arrow text-light"></i>
            </a>
          </li>

            <hr>
            <li class="nav-item">
              <a class="nav-link text-light" href="{% url 'hrms:dept_new' %}"><i class="fa fa-plus text-light"></i>&emsp;New Department</a>
            </li>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
              {% for dept in depts  %}
                <li class="nav-item bg-light">
                  <a class="nav-link text-dark " href="{{dept.get_absolute_url}}">{{dept.name}}</a>
                </li>
              {% endfor %}
              </ul>
            </div>


          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:recruitmentall' %}">
              <i class="fa fa-database text-light"></i>
              <span class="menu-title text-light">&emsp;Recruitment</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'hrms:payroll' %}">
              <i class="fa fa-usd text-light"></i>
              <span class="menu-title text-light">&emsp;Payroll</span>
            </a>
          </li> -->

          {% comment %} <li class="nav-item">

          <li class="nav-item">
            <a class="nav-link" href="pages/icons/font-awesome.html">
              <i class="fa  fa-gears text-light"></i>
              <span class="menu-title text-light">&emsp;Settings</span>
            </a>
          </li> {% endcomment %}
        </ul>
      </nav>